$dtp_width: 340px;
$dtp_padding_top: 20px;
$dtp_border_color: #818181;
$dtp_box_shadow: 3px 3px 5px $dtp_border_color;
$dtp_background_color: white;
$dtp_primary_color: black;
$dtp_main_height: $dtp_width;
$dtp_selected_color: #00b294;
$dtp_hover_border_color: #818181;
$dtp_out_scope_color: #7c7f81;
$dtp_disabled_color: #e67e22;
$dtp_focus_line_color: #818181;